.Card {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 400px;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    .card-content {
        color: #fff;
        padding: 1rem;
        height: 50%;
    }

    .wave-background {
        border-radius: 15px;

        p {
            font-weight: 600;
        }

        .card-image {
            position: relative;
            bottom: 20px;

            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: rgb(41, 41, 41);

            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;

            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
        }

        .card-from,
        .card-about {
            margin: 0;
        }

        .card-social-links {
            margin: 0.5rem 0;

            a {
                margin: 0 0.25rem;

                svg {
                    width: 30px;
                    height: 30px;
                    filter: grayscale(1);
                    transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.wave-background-0 {
    background-image: url(../svg/card-wave-bg0.svg);
}

.wave-background-1 {
    background-image: url(../svg/card-wave-bg1.svg);
}

.wave-background-2 {
    background-image: url(../svg/card-wave-bg2.svg);
}
